.form {
  width: 320px;
  background-color: #c6eea0;
  border: 1px solid #08080f;
  border-radius: 5px;
  padding: 20px;
  margin: 30px auto;
  font-size: large;
  font-weight: 500;
}

.label {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 16px;
}
.btn {
  display: block;
  padding: 10px;
  background-color: white;
  border: 1px solid #07060c;
  border-radius: 5px;
  margin: 0 auto;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #c6eea0;
  color: rgb(12, 6, 6);
}
.err {
  background-color: #c6eea0;
}

.Style {
  display: block;
}

.field {
  display: block;
  padding: 10px;
  width: 280px;
  border: 1px solid #070508;
  border-radius: 5px;
}
