.modal {
  display: flex;
  gap: 30px;
  justify-content: center;

  background-color: #71c1e0;
}

.btnYes {
  background-color: white;
}
.btnNo:hover,
.btnNo:focus,
.btnNo:active {
  background-color: rgb(230, 96, 96);
  color: rgb(7, 7, 12);
}
.btnNo {
  background-color: white;
}

.btnYes:hover,
.btnYes:focus,
.btnYes:active {
  background-color: #a0eebe;
}
